body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
color:gray;
font-size:3em;
}

input{
font-size:2em;
font-variant: small-caps;
}

input[type=text]{
color: green;
font-variant: none;
width:300px;
border: 1px solid gray;
border-bottom: 3px solid gray;
border-radius: 10px;
padding: 12px 20px;
}

input[type=submit]{
color: white;
font-size:2em;
border: none;
padding: 20px 50px;
background-color: #00be46;
}